<div class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="login($event)">
    <h1 class="text-3xl text-center mb-2">Login</h1>
    <p class="text-center mb-8 flex justify-center">
      Angular and TailwincdCSS Auth Theme
    </p>
    <div class="mb-5">
      <label for="username">
        Username *
      </label>
      <div class="input-wrapper">
        <input id="username" formControlName="username" type="text" placeholder="Username" required>
      </div>
      <p class="error" [class.active]="errorIsActive(loginForm.get('username'))">
        {{ getErrorMessage(loginForm.get('username')) }}
      </p>
    </div>
    <div class="mb-10">
      <label for="password">
        Password *
      </label>
      <div class="input-wrapper flex">
        <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="******************" required>
        <div class="cursor-pointer" (click)="showPassword = !showPassword">
          <span [class.hidden]="!showPassword"><zond-icon icon="view-hide"></zond-icon></span>
          <span [class.hidden]="showPassword"><zond-icon icon="view-show"></zond-icon></span>
        </div>
      </div>
      <p class="error" [class.active]="errorIsActive(loginForm.get('password'))">
        {{ getErrorMessage(loginForm.get('password')) }}
      </p>
    </div>
    <div class="mb-6">
      <app-link [text]="'Forgot Password?'" [url]="'/forgot-password'"></app-link>
    </div>
    <button class="btn gradient w-full mb-6" type="submit">
      Sign In
    </button>
  </form>
  <div class="text-center">
    <app-link [text]="'Don\'t have an account? Create one here.'" [url]="'/create-account'"></app-link>
  </div>
</div>