<header>
  <span class="text-lg md:text-2xl">
    Angular + TailwindCSS Auth Theme
  </span>
  <button class="btn gradient flex text-center justify-center md:hidden" (click)="navExpanded = !navExpanded">
    <zond-icon icon="menu" [color]="'white'"></zond-icon>
  </button>
  <nav class="nav-menu-container" [class.open]="navExpanded">
    <a class="btn flat mr-3" [class.bg-gray-200]="currentUrl === '/app/about'" routerLink="/app/about" (click)="collapseMenus()">
      About
    </a>
    <button class="btn gradient" (click)="accountMenuExpanded = !accountMenuExpanded">
      <zond-icon icon="user-solid-circle" [color]="'white'"></zond-icon>
      <span class="ml-2 text-white">Account</span>
    </button>
    <app-menu [expanded]="accountMenuExpanded" [menuItems]="accountMenuItems" origin="top-right" (collapseMenu)="collapseMenus()" [currentUrl]="currentUrl"></app-menu>
  </nav>
</header>