<div class="w-11/12 md:w-3/4 lg:w-5/8 xl:w-1/2 mx-auto py-8 md:py-10">
  <h1 class="text-3xl mb-6">About</h1>
  <p class="mb-6">
    Hi there! Thanks for trying out my Angular + TailwindCSS Authentication Theme. For detailed instructions
    on how to use this theme yourself, check out the 
    <app-link [internal]="false" text="README.md" url="https://github.com/jneterer/angular-auth-theme-tailwindcss/blob/master/README.md" target="_blank"></app-link>.
  </p>
  <p class="mb-4">
    This has been a lot of fun to develop. Angular is a fantastic web framework and TailwindCSS makes 
    styling them so simple. I've tried my hardest to make it as dynamic as possible, that way if you want
    to clone it and use it for you own web app, you can make changes with ease like:
  </p>
  <ul class="list-inside list-disc rounded bg-gray-200 p-2 pl-4 mb-6">
    <li>Changing Theme colors</li>
    <li>Adding Logos</li>
    <li>Integrating Authentication Services</li>
  </ul>
  <p class="mb-6">
    Do you like this theme? Want to see more? Check out my website
    <app-link [internal]="false" text="Angular Starters" url="https://angularstarters.com" target="_blank"></app-link>
    for more Angular starter and themed projects like this one!
  </p>
  <p class="mb-4">
    You can also find me on the following:
  </p>
  <ul class="list-inside list-disc rounded bg-gray-200 p-2 pl-4 mb-6">
    <li><app-link [internal]="false" text="My Website" url="https://jacobneterer.com" target="_blank"></app-link></li>
    <li><app-link [internal]="false" text="Twitter" url="https://twitter.com/jacobneterer" target="_blank"></app-link></li>
    <li><app-link [internal]="false" text="LinkedIn" url="https://www.linkedin.com/in/jacobneterer" target="_blank"></app-link></li>
    <li><app-link [internal]="false" text="Twitch" url="https://www.twitch.tv/jacobneterer" target="_blank"></app-link></li>
    <li><app-link [internal]="false" text="Medium" url="https://medium.com/@jacobneterer" target="_blank"></app-link></li>
  </ul>
  <p class="mb-6">
    Feel free to delete this page after cloning it. I didn't move the <span class="bg-gray-200 rounded px-2 py-1">about.component.scss</span> 
    file out of this folder for that very purpose.
  </p>
</div>