<h2 class="text-2xl mb-4">Change Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword($event)">
  <div class="mb-5">
    <label for="currentPassword">
      Password *
    </label>
    <div class="input-wrapper">
      <input id="currentPassword" formControlName="currentPassword" type="password" placeholder="Password" required>
    </div>
    <p class="error" [class.active]="errorIsActive(changePasswordForm.get('currentPassword'))">
      {{ getErrorMessage(changePasswordForm.get('currentPassword')) }}
    </p>
  </div>
  <div class="mb-5">
    <label for="newPassword">
      New Password *
    </label>
    <div class="input-wrapper flex">
      <input id="newPassword" formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" placeholder="New Password" required>
      <div class="cursor-pointer" (click)="showPassword = !showPassword">
        <span [class.hidden]="!showPassword"><zond-icon icon="view-hide"></zond-icon></span>
        <span [class.hidden]="showPassword"><zond-icon icon="view-show"></zond-icon></span>
      </div>
    </div>
    <p class="error" [class.active]="errorIsActive(changePasswordForm.get('newPassword'))">
      {{ getErrorMessage(changePasswordForm.get('newPassword')) }}
    </p>
  </div>
  <div class="mb-8">
    <label for="confirmPassword">
      Confirm Password *
    </label>
    <div class="input-wrapper">
      <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirm Password" required>
    </div>
    <p class="error" [class.active]="errorIsActive(changePasswordForm.get('confirmPassword'))">
      {{ getErrorMessage(changePasswordForm.get('confirmPassword')) }}
    </p>
  </div>
  <button class="btn gradient w-full mb-6" type="submit">
    Change Password
  </button>
  <p *ngIf="changePasswordSuccess" class="success text-center mb-6">Your password was successfully changed!</p>
</form>