<div class="auth-container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit($event)">
    <h1 class="text-3xl text-center mb-2">Forgot Password</h1>
    <p class="text-center mb-8 flex justify-center">
      Angular and TailwincdCSS Auth Theme
    </p>
    <div class="mb-6">
      <label for="username">
        Username *
      </label>
      <div class="input-wrapper">
        <input id="username" formControlName="username" type="text" placeholder="Username" required>
      </div>
      <p class="error" [class.active]="errorIsActive(forgotPasswordForm.get('username'))">
        {{ getErrorMessage(forgotPasswordForm.get('username')) }}
      </p>
    </div>
    <p *ngIf="recoveryRequestSuccess" class="success text-center mb-4">We have received your request, check your email for information on how to reset your password.</p>
    <div class="pt-4">
      <button class="btn gradient w-full mb-6" type="submit">
        Send Recovery Request
      </button>
    </div>
    <div class="text-center">
      <app-link [text]="'Back to login.'" [url]="'/login'"></app-link>
    </div>
  </form>
</div>